<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="app.js"></script>
    <style type="text/css">
      html, body, .r-max-height {
        height: 100%;
      }
      .r-scrollable {
        overflow: auto;
      }
    </style>
</head>
<body ng-app="phonecatApp" layout="column">
    <h2>Phones</h2>
    <div class="r-scrollable">
    <form ng-controller="PhoneListController" layout="column" class="ng-scope layout-column " id="phonesForm">
        <div ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]">
            <div class="form-group layout-row" ng-repeat="phone in phones" layout="row">
                <label flex>{{phone.name}}</label>
                <input flex type="text" class="form-control" name="state"
                       ng-model="phone.snippet">
            </div>
        </div>
    </form>
    </div>
    <h3>End</h3>
    <div layout-align="end end" layout="column" class="r-max-height">
        <md-button form="phonesForm" ng-click="alert('Hello')" class="md-primary md-raised">
            <span>md-button</span>
        </md-button>
        <button onclick="alert('Hello')" form="phonesForm">
            <span>button</span>
        </button>
    </div>
</body>
</html>
